.card {
  position: relative;
  width: 100%;
  max-height: 300px;
  height: 100%;
  perspective: 1000px; /* Adds 3D effect */
  cursor: pointer;

  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--spacing-l);
      backface-visibility: hidden; /* Hides the back image when facing front */

      &:last-child {
        z-index: 1;
        transform: rotateY(180deg); /* Back of the card */
      }
    }
  }

  &.flipped {
    .inner {
      transform: rotateY(180deg);
    }
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.shake {
    animation: shake 0.5s ease-in-out infinite;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}